<a href="https://colab.research.google.com/github/ansonkwokth/TableTennisPrediction/blob/main/inference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/ansonkwokth/TableTennisPrediction.git
%cd TableTennisPrediction

Cloning into 'TableTennisPrediction'...
remote: Enumerating objects: 151, done.
remote: Counting objects: 100% (151/151), done.
remote: Compressing objects: 100% (127/127), done.
remote: Total 151 (delta 68), reused 42 (delta 17), pack-reused 0 (from 0)
Receiving objects: 100% (151/151), 477.82 KiB | 1.82 MiB/s, done.
Resolving deltas: 100% (68/68), done.
/content/TableTennisPrediction

In [195]:
import pandas as pd
from tabulate import tabulate
from utils import data_loader as dl

import numpy as np
from model.Elo import Elo
from model.ModifiedElo import ModifiedElo
from model.ensemble import BaggingRatingSystem

import matplotlib.pyplot as plt
import seaborn as sns

from tqdm import tqdm

import copy

import warnings
warnings.filterwarnings('ignore')

In [3]:
# GAME = 'TTStar'
# GAME = 'TTCup'
# GAME = 'SetkaCup'
GAME = 'SetkaCupWomen'
# GAME = 'LigaPro'

In [4]:
match GAME:
    case 'TTStar':
        years = [2020, 2021, 2022, 2023, 2024]
    case 'TTCup':
        years = [2020, 2021, 2022, 2023, 2024]
    case 'SetkaCup':
        years = [2020, 2021, 2022, 2023, 2024]
    case 'SetkaCupWomen':
        years = [2020, 2021, 2022, 2023, 2024]
    case 'LigaPro':
        years = [2022, 2023, 2024]
    case _:
        raise ValueError("Invalid game selected.")


text_data_game = dl.load_game_data(GAME, years, '../')
text_data = {
    year: text_data_game[year] for year in years
}
df = dl.create_game_dfs(GAME, years, text_data)

Loading ..//SetkaCupWomen2020.txt
Loading ..//SetkaCupWomen2021.txt
Loading ..//SetkaCupWomen2022.txt
Loading ..//SetkaCupWomen2023.txt
Loading ..//SetkaCupWomen2024.txt

In [5]:
# Generate ID indices for each pair of rows in the DataFrame
idx_lt = [i for i in range(len(df) // 2) for _ in range(2)]
df['ID'] = idx_lt  # Assign to the 'ID' column

# Reset the DataFrame index to ensure it's sequential
df.reset_index(drop=True, inplace=True)

# Get unique players and store them in player_lt
player_lt = df['Player'].unique()

In [6]:
def format_to_array(df: pd.DataFrame) -> np.ndarray:

    # info_col = ['ID', 'Round', 'Datetime', 'Game', 'Date', 'Time']
    info_col = ['Round', 'Datetime', 'Game', 'Date', 'Time']
    col = [item for item in df.columns if item not in info_col]

    df[[c for c in col if "Set" in c]] = df[[c for c in col if "Set" in c]].astype(float)
    X = df[col].values.reshape(-1, 2, len(col))
    return X

In [7]:
X_all = format_to_array(df)

In [8]:
modelMElo = ModifiedElo()
modelMElo.fit(X_all)

Training model: 100%|██████████| 34579/34579 [00:01<00:00, 18490.25it/s]

# Print

In [262]:
def find_player(name):
    p_lt = []
    for k, v in modelMElo.params.items():
        if name in k:
            print(k)
            p_lt.append(k)
    return p_lt

In [263]:
def find_OU(player1, player2):
    set1_dt = modelMElo.predict_set_config(player1, player2)[-1]
    set2_dt = modelMElo.predict_set_config(player2, player1)[-1]

    set_sum_dt = {}
    for k1, v1 in set1_dt.items():
        v2 = set2_dt[k1]
        set_sum_dt[k1] = v1 + v2



    p_O = 0
    p_U = 0
    for k, v in set_sum_dt.items():
        if k > line:
            p_O += v
        else:
            p_U += v
    return p_O, p_U

In [272]:
df_lt = []

In [273]:
p1_lt = find_player("Ivch")
print()
p2_lt = find_player("Gord")

Ivchenko O.

Gordeets M.

In [274]:
player1 = p1_lt[0]
player2 = p2_lt[0]
line = 18.5

date = "Jan 25"
time = "20:05"


found_p1, found_p2, p_game = modelMElo.predict_game(player1, player2)
found_p1, found_p2, p_set = modelMElo.predict_set(player1, player2)
p_O, p_U = find_OU(player1, player2)

In [280]:
if (found_p1 and found_p2):
    df_row = pd.DataFrame({
                         "Player1": [player1], "Player2": [player2], "Winner": [winner],
                         "p(set)": [f"{p_set_win*100:.1f}%"], "p(game)": [f"{p_game_win*100:.1f}%"],
                         f"p({OU} {line})": [f"{p_OU*100:.1f}%"]})

    print(tabulate(df_row, headers = 'keys', tablefmt = 'psql', showindex=False))

+-------------+-------------+-------------+----------+-----------+-------------+
| Player1     | Player2     | Winner      | p(set)   | p(game)   | p(O 18.5)   |
|-------------+-------------+-------------+----------+-----------+-------------|
| Ivchenko O. | Gordeets M. | Ivchenko O. | 51.5%    | 52.8%     | 51.9%       |
+-------------+-------------+-------------+----------+-----------+-------------+

In [281]:
df_lt.append(df_row)

In [284]:
df_print = pd.concat(df_lt)
df_print.index = range(len(df_lt))
print(tabulate(df_print, headers = 'keys', tablefmt = 'psql', showindex=False))
# print(tabulate(df_print, headers = 'keys', tablefmt = 'psql'))

+-------------+-------------+-------------+----------+-----------+-------------+
| Player1     | Player2     | Winner      | p(set)   | p(game)   | p(O 18.5)   |
|-------------+-------------+-------------+----------+-----------+-------------|
| Ivchenko O. | Gordeets M. | Ivchenko O. | 51.5%    | 52.8%     | 51.9%       |
| Ivchenko O. | Gordeets M. | Ivchenko O. | 51.5%    | 52.8%     | 51.9%       |
+-------------+-------------+-------------+----------+-----------+-------------+